*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    list-style-type: none;
}

/* every section should have side margins equal */
.section {
    margin:0 75px;
}
/*  categories */
.category-section{
    border-top: 1px solid lightgray;
    margin-top: 100px; 
    /* will update this according to navbar */
}

.category-list{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    /* padding: 20px; */
    color: gray;
}

.category-type{
    text-align: center;
   
}

.category-type img{
    width : 25px;
    margin-bottom:4px;
}

/* hotel list */
.hotel-section{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}


.hotel-card{
    width: 300px;
    position: relative;
}

.hotel-details{
    margin-top:5px;
}

.hotel-card-image{
    width:100%;
    height: 270px;
    border-radius: 14px;
    object-fit: cover;
}

.hotel-card .hotel-name{
    font-size: 18px;
}

.hotel-card .host{
    color: gray
}

.sold{
    font-weight: bold;
}

.card-btn{
    width:100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:15px;
}

.card-btn button{
    padding: 10px 20px;
    border-radius: 26px;
    background-color: rgb(234, 231, 231);
    margin: 0 10px;
    border:none
}

.experience{
    margin-top:30px;
}

.footer-section{
    background-color: #dddddd;
    padding-bottom:5px;
    border-top: 1px solid gray
}

.footer{
    display: flex;
    justify-content: flex-start;
    gap: 280px;
    margin: 30px 75px;
    padding: 30px 0;
    line-height: 30px;
    color:#6a6a6a;
    border-bottom: 1px solid gray;
}

.footer li:hover{
 text-decoration: underline;
 cursor: pointer;
}

.footer-list .footer-list-header{
color: black
}

.footer-contact-section{
    display: flex;
    justify-content: space-between;
}

.footer-contact-section li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer-contact-left, .footer-contact-right{
    display: flex;
    gap: 15px;
    text-align: center;
}

.gateway-section{
   background-color: #dddddd;
   margin-top:40px;
   padding: 40px 0;
}

.gateway-section > * {
    margin:0 75px;
}

.gateway-heading{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.gateway-details-list{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    font-size: 16px;
    padding: 20px 0;
}
.gateway-details-list li{
    width: 200px;
    margin: 10px 0;
    cursor: pointer;
}

.gateway-description{
    display: block;
    color: gray
}

.icon{
    vertical-align: text-top;
}